
.container {
  width: 600px;
  margin: 0 auto;
}

.card {
  margin-top: 30px; 
  color: #fff;
  padding: 1px 16px;
  border-radius: 3px;
  line-height: 1.5;
}

.card>h3 {
  font-size: 24px;
  margin: 10px 0;
}

.close {
  float:right;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
}

.card1 {
  background-color: #4CAF50;
}

.card2 {
  background-color: #2196F3;
}

.card3 {
  background-color: #f44336;
}

.card4 {
  background-color: #ff9800;
}

