* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 600px;
  margin: 0 auto;
}

table {
  margin-top: 30px;
  font-family: Arial;
  width: 100%;
  text-align: left;
  /* border-collapse: collapse; */
  /* border-spacing: 0; */
}

tr{
  border-bottom: 1px solid #ccc;
  background-color: red;
}

th {
  font-weight: bold;
  padding: 8px;
}

td{
  padding: 8px;
}

.t1{
  border: 1px solid #ccc;
}

tr:nth-child(even) {
  /* background-color: #f1f1f1; */
}

.t1 th {
  /* background-color: #4CAF50; */
  color: #fff;
}
